@model Employee
<h1 class="alert alert-success text-center">Create Employee</h1>
<div class="row">
    <form class="col-4" method="get">
        <div>
            <label>Name</label>
            <input type="text" asp-for="Name" class="form-control" />

        </div>
        <div>
            <label>Position</label>
            <input type="text" asp-for="Position" class="form-control" />

        </div>
        <div>
            <label>Salary</label>
            <input type="number" asp-for="Salary" class="form-control" />

        </div>
        <div>
            <label>Join Date</label>
            <input asp-for="JoinDate" class="form-control" />

        </div>

        <div>
            <label>Is Active</label>
            <input asp-for="IsActive" />

        </div>
        <button type="submit" class="btn btn-primary mt-2">Add</button>

    </form>
</div>